.chart {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

// .title_container {
// }

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Tanker";
}

.title_with_subtitle {
  margin-bottom: 0.2rem;
}

.subtitle {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #6b6b6b;
}

.legend {
  display: flex;
  gap: 16px;
  align-items: center;
}

.legend_item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.legend_dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.legend_label {
  font-size: 13px;
  color: #666;
}

.tooltip {
  background: #f5ffed;
  border: 1px solid #9ce94c;
  border-radius: 12px;
  padding: 10px 12px;
  box-shadow: 0 10px 30px rgba(155, 218, 73, 0.25);
  color: #3a4a17;
  font-size: 12px;
  font-weight: 600;
}
