.admin_layout {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
  width: 100vw;

  .side_nav_area {
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #e8feb0;
      border-radius: 1rem;
    }
  }

  .main_content {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .content_area {
      flex: 1;
      padding: 1rem;
      overflow-y: auto;
    }
  }
}
