:root {
  font-family: var(--font-general-sans), -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

html{
  font-size: 78%;
}

body {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.display-font {
  font-family: var(--font-tanker), var(--font-general-sans), -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-family: var(--font-general-sans), sans-serif;
  outline: none;
}

svg {
  display: block;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.admin_layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}
