.overview {
  position: relative;

  .cards {
    display: flex;
    gap: 1rem;
  }
}

.company_insights {
  position: relative;
}

.charts {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr;

  .bar_charts {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
}

.line_chart {
  margin: 2rem 0;
  padding: 2rem;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  background: #fdfdfd;
}

.ind_role_matrix {
  margin: 2rem 0;
  padding: 1.5rem;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  background: #fdfdfd;

  h3 {
    font-family: "Tanker";
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.color_label {
  width: fit-content;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
}

.company_profile_traffic {
  margin-top: 2rem;
  padding: 1rem;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  background: #fdfdfd;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Tanker";
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .activity_type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #666;

    .activity_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: 0.1rem solid #e2e4e9;
      border-radius: 50%;

      svg {
        width: 1.5rem;
      }
    }
  }
}
