.side_bar_section {
  margin: 1.5rem 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;

  .title {
    font-size: 0.875rem;
    font-weight: 500;
    color: #bebebe;
    text-transform: uppercase;
  }

  ul {
    position: relative;
    width: 100%;

    li {
      display: block;
      width: 100%;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        width: 100%;
        font-size: 1rem;
        // font-weight: 500;
        color: #737373;
        text-decoration: none;
        border-radius: 0.5rem;
        transition: background-color 0.2s ease-in-out;

        &:hover div span {
          color: #708b2e;
        }

        &:hover svg path {
          fill: #708b2e;
        }

        div {
          display: flex;
          align-items: center;
          gap: 1rem;

          span {
            display: block;
            color: var(--active-color);
          }
        }
      }
    }
  }
}

.side_bar {
  position: relative;
  border-right: 0.1rem solid #eaeaea;
  padding: 1rem;

  .logo_container {
    margin-bottom: 4rem;

    img {
      display: block;
      width: 7rem;
      height: 2rem;
    }
  }
}
