.overview {
  position: relative;

  .cards {
    display: flex;
    gap: 1rem;
  }
}

.charts {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: #fdfdfd;
  border-radius: 1rem;
  border: 0.1rem solid #eaeaea;
  margin-top: 2rem;

  .chart {
    padding: 1.5rem;

    &:first-child {
      border-right: 0.1rem solid #eaeaea;
    }
  }
}

.pie_charts {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border: 0.1rem solid #e2e4e9;
  border-radius: 1rem;
  padding: 2rem;
  gap: 1;

  .pie {
    flex: 1;

    &:last-child {
      border-left: 0.1rem solid #e2e4e9;
      padding-left: 2rem;
    }
  }
}

.recent_activity {
  margin-top: 2rem;
  padding: 1rem;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  background: #fdfdfd;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Tanker";
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .activity_type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #666;

    .activity_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: 0.1rem solid #e2e4e9;
      border-radius: 50%;

      svg {
        width: 1.5rem;
      }
    }
  }
}
