.metric_card {
  position: relative;
  padding: 1rem;
  flex: 1;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  .top {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .title {
      font-size: 0.9rem;
      color: #737373;
      font-weight: 500;
    }

    svg {
      width: 1.5rem;
    }
  }

  .value_section {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      font-family: "Tanker";
    }
  }

  .action_btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f8fa;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .action_btn_drop {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
