.primary {
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
}

.secondary {
  background-color: #f6f8fa;
  color: #525866;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  cursor: pointer;
  border-radius: 0.5rem;

  &:hover {
    filter: brightness(0.97);
  }

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }

  &.medium {
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
  }
}
